{% extends "layout.html.twig" %}

{# Titre de la page #}
{% block title %}
         | Messages 
{% endblock %}

{% block body %}

        {% block header %}
           {{ parent() }}
            {% block stylesheets %}
                {{ parent() }}
                <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"
                {#<link href="{ asset('assets/css/user-admin-panel.css') }" rel="stylesheet" #}
            {% endblock %}
        {% endblock %}
        {% block content %}
    
            {% block error %}
            {% endblock %}
    
            <section id="messagerie">
                <h2>Messagerie</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Date de réception</th>
                                <th>prénom</th>
                                <th>Email</th>
                                <th>sujet</th>
                                <th>Statut</th>
                                <th>Voir</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                            <tr class="{{ message.statut == 0 ? 'unread' : '' }}">
                                <td>{{ message.receptedDate|date('d/m/Y H:i:s') }}</td>
                                <td>{{ message.firstname|e }}</td>
                                
                                <td>{{ message.email|e }}</td>
                                <td>{{ message.subject|e }}</td>
                                <td>{{ message.statut == 0 ? 'Non lu' : 'Lu' }}</td>
                                <td><a href="?route=readMessage&id={{ message.id|e }}">Voir</a></td>
                                <td>
                                    {% if message.statut != 0 %}
                                    <form method="POST" action="?route=deleteMessage&id={{ message.id|e }}">
                                        <input type="hidden" name="id" value="{{ message.id|e  }}"> 
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"> 
                                        <input type="submit" name="soumettre" value="Supprimer">
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                     <style>
                    section {
                        font-family: 'Comic Sans MS', 'Raleway', cursive;
                    }
                table {
                    margin-top: 5vh; /* Ajoute un espace de 5 cm avant la table */
                    border-collapse: collapse;
                    width: 100%;
                    border-radius: 30px;
                }

                th, td {
                    border: 1px solid black;
                    padding: 10px;
                    text-align: left;
                }

                th {
                    background-color: #090909ff;
                    color: white;
                    border: 1px solid white;
                }
                td {
                     background-color: white;
                }
            </style>
                </div>
                
                <p>{{ message.content }}</p>
            </section>
{% endblock %}

        
{% endblock %} 
