{% extends "layout.html.twig" %}

{# Titre de la page #}
{% block title %}
         | Gestion des Utilisateurs
{% endblock %}

{% block body %}

         {% block content %}
    
            {% block error %}
            {% endblock %}
            <section id="users">
                <h2>Tous les utilisateurs</h2>
                <div>
                    <input type="text" id="search" name="search" aria-label="Search field" placeholder="Rechercher via email ou prénom">
                </div>
                
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Statut</th>
                                <th>Role</th>
                                
                                <th>Newsletter</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id|e }}</td>
                                <td>{{ user.firstname|e }}</td>
                                <td>{{ user.email|e }}</td>
                                <td>{{ user.statut|e }}</td>
                                <td>{{ user.role|e }}</td>
                                <td>{{ user.newsletter|e }}</td>
                                <td><a href="?route=readOneUser&id={{ user.id|e }}">Voir</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %} 